{% extends 'admin/dashboard-admin.html' %}


<form id="edit-cashier-form" onsubmit="submitCashierEdit(event)">
    {% csrf_token %}
    <div class="mb-3">
        <label for="edit-name" class="form-label">Name</label>
        <input type="text" class="form-control" id="edit-name" name="name" value="{{ cashier.name }}" required>
    </div>
    <div class="mb-3">
        <label for="edit-email" class="form-label">Email</label>
        <input type="email" class="form-control" id="edit-email" name="email" value="{{ cashier.email }}" required>
    </div>
    <div class="mb-3">
        <label for="edit-window" class="form-label">Window Number</label>
        <input type="number" class="form-control" id="edit-window" name="windowNum" value="{{ cashier.windowNum }}" required>
    </div>
    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>

